trigger: none

pool: 220925

steps:
  - task: TerraformInstaller@1
    displayName: "Install Latest Terraform"
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: "Terraform Init"
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/rgstgcodee/provider_parents'
      backendServiceArm: 'agentportal'
      backendAzureRmResourceGroupName: 'ravirg23i'
      backendAzureRmStorageAccountName: 'stg24'
      backendAzureRmContainerName: 'cont24'
      backendAzureRmKey: 'ravi123.tfstate'

  - task: TerraformTask@5
    displayName: "Terraform Plan"
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)/rgstgcodee/provider_parents'
      environmentServiceNameAzureRM: 'agentportal'

  - task: TerraformTask@5
    displayName: "Terraform Apply"
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(System.DefaultWorkingDirectory)/rgstgcodee/provider_parents'
      environmentServiceNameAzureRM: 'agentportal'
      commandOptions: '-auto-approve'

